<ion-view>
  <ion-nav-bar>
    <ion-header-bar align-title="left" class="droid-bar">
      <ion-nav-back-button class="button-clear">
        <i class="ion-android-arrow-back"></i>
      </ion-nav-back-button>
      <h1 class="title">
        <i class="ion-ios7-basketball"></i>
        Doze ou Dez
      </h1>
      <div class="buttons">
        <a class="button button-icon"
          ng-class="{ paused: 'ion-play', running: 'ion-pause' }[game.status]"
          ng-click="playPause()"></a>
        <a class="button button-icon ion-stop" ng-click="reset()"></a>
      </div>
    </ion-header-bar>
  </ion-nav-bar>
  <ion-content>
      <div class="row row-center scoreboard">
        <a class="col2 col-33" href="#score" ng-click="openModal(game.homeTeam)">
          <h2>
            <i class="ion-ios7-basketball-outline"></i>
          </h2>
          <div>
            {{game.homeTeam.points}}
          </div>
        </a>
        <div class="col1 col-33 clock">
          <span>{{game.clock.time.minutes()}}:{{game.clock.time.seconds()}}</span>
        </div>
        <a class="col2 col-33" href="#score" ng-click="openModal(game.awayTeam)">
          <h2>
            <i class="ion-ios7-basketball"></i>
          </h2>
          <div>
          {{game.awayTeam.points}}
          </div>
        </a>
      </div>
      <div class="list">
        <div class="item item-divider item-player-divider">
          <div id="players-divider-title">Players</div>
        </div>
        <!--
        <a class="item item-avatar-left item-player" href="#">
          <img class="item-image" src="http://api.randomuser.me/portraits/med/men/24.jpg">
          <h2>Venkman</h2>
          <p>2 pontos</p>
        </a>
        <a class="item item-avatar-right item-player" href="#">
          <h2>Venkman</h2>
          <p>-</p>
          <img class="item-image" src="http://api.randomuser.me/portraits/med/men/24.jpg">
        <a class="item item-avatar-left item-player" href="#">
          <img class="item-image" src="http://api.randomuser.me/portraits/med/men/24.jpg">
          <h2>Venkman</h2>
          <p>2 pontos</p>
        </a>
        </a>
        <a class="item item-avatar-right item-player" href="#">
          <h2>Venkman</h2>
          <p>-</p>
          <img class="item-image" src="http://api.randomuser.me/portraits/med/men/24.jpg">
        </a>
        <a class="item item-avatar-left item-player" href="#">
          <img class="item-image" src="http://api.randomuser.me/portraits/med/men/24.jpg">
          <h2>Venkman</h2>
          <p>2 pontos</p>
        </a>
        <a class="item item-avatar-right item-player" href="#">
          <h2>Venkman</h2>
          <p>-</p>
          <img class="item-image" src="http://api.randomuser.me/portraits/med/men/24.jpg">
        </a>
        <a class="item item-avatar-left item-player" href="#">
          <img class="item-image" src="http://api.randomuser.me/portraits/med/men/24.jpg">
          <h2>Venkman</h2>
          <p>2 pontos</p>
        </a>
        <a class="item item-avatar-right item-player" href="#">
          <h2>Venkman</h2>
          <p>-</p>
          <img class="item-image" src="http://api.randomuser.me/portraits/med/men/24.jpg">
        </a>
        <a class="item item-avatar-left item-player" href="#">
          <img class="item-image" src="http://api.randomuser.me/portraits/med/men/24.jpg">
          <h2>Venkman</h2>
          <p>-</p>
        </a>
        <a class="item item-avatar-right item-player" href="#">
          <h2>Venkman</h2>
          <p>-</p>
          <img class="item-image" src="http://api.randomuser.me/portraits/med/men/24.jpg">
        </a>
        -->
        <a class="item item-icon-left item-player" href="#/teams/{{game.homeTeam.id}}/add-player">
          <i class="icon ion-plus"></i>
          Add player...
        </a>
        <a class="item item-icon-right item-player" href="#/teams/{{game.awayTeam.id}}/add-player">
          <i class="icon ion-plus"></i>
          Add player...
        </a>
      </div>
  </ion-content>
  <script id="contact-modal.html" type="text/ng-template">
    <div class="modal score-modal">
      <header>
        <h1 class="title">Score</h1>
      </header>
      <div class="content">
        {{ modal.team.name}}
        <input type="number" value="0" ng-model="modal.team.points" />
        <buton class="button button-outilined button-positive" ng-click="score(modal.team, 2)">
          + 2
        </buton>
        <buton class="button button-outilined button-balanced" ng-click="score(modal.team, 3)">
          + 3
        </buton>
      </div>
      <div class="actions">
        <a href="#close" ng-click="closeModal()">Close</a>
      </div>
    </div>
  </script>
</ion-view>
