<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.dozeoudez243749" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Doze Ou Dez</name>
  <description>
    A cool basketball app.
  </description>
  <author email="leandro.s.thimoteo@gmai.com" href="https://github.com/leandrost/dozeoudez">
    Leandro Thimóteo
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <icon src="www/res/drawable-xxxhdpi/icon.png" />
  <platform name="android">
    <icon src="www/res/drawable-ldpi/icon.png" density="ldpi" />
    <icon src="www/res/drawable-mdpi/icon.png" density="mdpi" />
    <icon src="www/res/drawable-hdpi/icon.png" density="hdpi" />
    <icon src="www/res/drawable-xhdpi/icon.png" density="xhdpi" />
  </platform>
</widget>
