.droid-bar {
  background-color: #33B5E5;
  border-color: #0099CC;
  color: #FFFFFF;
}

.droid-bar .title {
  color: #FFFFFF;
}

.droid-bar .button.button-icon:before {
  color: #FFFFFF;
  font-size: 17px;
  vertical-align: middle;
}

.scoreboard div{
  font-size: 2.2em;
  padding-top: 2px;
  padding-bottom: 10px;
  text-align: center;
  width: 50%;
}

#home-divider-title{
 text-align: left;
}

#players-divider-title{
 text-align: center;
}

#away-divider-title{
 text-align: right;
}

