
.droid-bar {
  background-color: #FF6600;
  color: #ffffff;
}

.droid-bar .title {
  color: #ffffff;
}

.droid-bar .button.button-icon:before {
  color: #ffffff;
  font-size: 17px;
  vertical-align: middle;
}


.scoreboard {
  font-size: 2.2em;
  font-weight: bold;
  text-align: center;
  padding: 10px 0px;
}

.scoreboard .team{
  font-size: 1.4em;
  padding-bottom: 10px;
  text-align: center;
  color: black;
}

.scoreboard .clock{
  font-size: 1.4em;
}

.scoreboard .points { color: #ccc; }
.scoreboard .lead { color: #ff6600; }

.scoreboard .col-33 { width: 33%; }

.scoreboard a { text-decoration: none; }

.item-player-divider{
  text-align: center;
}

.item-player{
  float: left;
  margin: -1px 0;
  width: 50%;
}

.item-player:nth-child(odd){
  border-left: none;
  text-align: right;
}

.item-player p{
  margin: 0;
}

.score-modal {
  background-color: white;
  width: 70%;
  min-height: 0;
  height: 190px;
  margin: auto;
  left:0;
  right:0;
  top: 0;
  bottom: 0;
}

.score-modal header{
  border-bottom: 2px solid #33b5e5;
  height: 56px;
  padding: 0 15px;
}

.score-modal .title {
  color: #33b5e5;
  font-size: 18px;
  font-weight: 400;
  line-height: 56px;
}

.score-modal .content {
  padding: 15px;
  height: 86px;
}

.score-modal .content input {
  display: inline;
  width: 32px;
}

.score-modal .actions {
  display: inline-block;
  height: 48px;
  width: 100%;
}
.score-modal .actions a {
  display: block;
  float: left;
  font-size: 12px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: #000;
  border-top: 1px solid #ccc;
  text-decoration: none;
  width: 100%;
}

.score-modal .actions a:first-child {
  border-right: 1px solid #ccc;
}
