.droid-bar {
  background-color: #33B5E5;
  border-color: #0099CC;
  color: #FFFFFF;
}

.droid-bar .title {
  color: #FFFFFF;
}

.droid-bar .button.button-icon:before {
  color: #FFFFFF;
  font-size: 17px;
  vertical-align: middle;
}

.scoreboard div{
  font-size: 2.2em;
  padding-bottom: 10px;
  text-align: center;
  width: 50%;
}

.scoreboard .clock {
  padding: 0;
}

.item-player-divider{
  text-align: center;
}

.item-player{
  float: left;
  margin: -1px 0;
  width: 50%;
}

.item-player:nth-child(odd){
  border-left: none;
  text-align: right;
}

.item-player p{
  margin: 0;
}
